<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
		<parameter name="FirstValue" value="10" />
		<parameter name="SecondValue" value="4" />
		
		
		<test  name="Test">
		<classes>
			<class name="com.TestNGAssignment.TestCase1" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
